#
#CAIRNSMORE1 XC3S50AN CONSTRAINTS FILE
#
NET "CLOCK_25MHZ" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 25000 kHz;
NET "CLOCK_25MHZ" LOC = "P124" |IOSTANDARD = "LVTTL";     
#
NET "SWITCH1"  LOC = "P33"   |IOSTANDARD = "LVTTL" |PULLUP;   
NET "SWITCH2"  LOC = "P35"   |IOSTANDARD = "LVTTL" |PULLUP;   
NET "SWITCH3"  LOC = "P140"  |IOSTANDARD = "LVTTL" |PULLUP;   
NET "SWITCH4"  LOC = "P53"   |IOSTANDARD = "LVTTL" |PULLUP;  
NET "SWITCH5"  LOC = "P80"   |IOSTANDARD = "LVTTL" |PULLUP;   
NET "SWITCH6"  LOC = "P97"   |IOSTANDARD = "LVTTL" |PULLUP;   
#NET "SWITCH7"  LOC = "P125"  | IOSTANDARD = "LVTTL" | PULLUP; NOT CONNECTED NOW  
NET "SWITCH8"  LOC = "P123"  |IOSTANDARD = "LVTTL" |PULLUP;
#   
NET "LED" LOC = "P29" |IOSTANDARD = "LVTTL";     
#
NET "USB1_1" LOC = "P83" |IOSTANDARD = "LVTTL";   # TXD
NET "USB1_2" LOC = "P87" |IOSTANDARD = "LVTTL";	# RXD
#
NET "JTAG_TCK" LOC = "P127" |IOSTANDARD = "LVTTL" |DRIVE = 24 |SLEW = QUIETIO; # DRIVE_TCK
NET "JTAG_TDI" LOC = "P130" |IOSTANDARD = "LVTTL" |DRIVE = 24 |SLEW = QUIETIO; # DRIVE_TDI
NET "JTAG_TDO" LOC = "P129" |IOSTANDARD = "LVTTL"; 						# DRIVE_TDO
NET "JTAG_TMS" LOC = "P126" |IOSTANDARD = "LVTTL" |DRIVE = 24 |SLEW = QUIETIO; # DRIVE_TMS
#
NET "CLK50" CLOCK_DEDICATED_ROUTE = FALSE;
NET "CLK100" CLOCK_DEDICATED_ROUTE = FALSE;
NET "CLK150" CLOCK_DEDICATED_ROUTE = FALSE;
NET "CLK200" CLOCK_DEDICATED_ROUTE = FALSE;
#
NET "USB3_1" LOC = "P48" 	|IOSTANDARD = "LVTTL"; # TXD   
NET "USB3_2" LOC = "P50" 	|IOSTANDARD = "LVTTL"; # RXD
#    
NET "USBC_0" LOC = "P28" 	|IOSTANDARD = "LVTTL";	# TCK    
NET "USBC_1" LOC = "P27" 	|IOSTANDARD = "LVTTL"; # TDI
NET "USBC_2" LOC = "P25" 	|IOSTANDARD = "LVTTL"; # TDO
NET "USBC_3" LOC = "P24" 	|IOSTANDARD = "LVTTL"; # TMS
#
NET "USBC_8" LOC = "P16" 	|IOSTANDARD = "LVTTL"; # SK
NET "USBC_9" LOC = "P15" 	|IOSTANDARD = "LVTTL"; # DO
NET "USBC_10" LOC = "P13"  |IOSTANDARD = "LVTTL";	# DI
NET "USBC_11" LOC = "P12"  |IOSTANDARD = "LVTTL"; # CS
#
NET "USBC_16" LOC = "P6" 	|IOSTANDARD = "LVTTL"; # TXD
NET "USBC_17" LOC = "P5" 	|IOSTANDARD = "LVTTL"; # RXD
#
NET "USBC_24" LOC = "P135" |IOSTANDARD = "LVTTL"; # TXD   
NET "USBC_25" LOC = "P134" |IOSTANDARD = "LVTTL"; # RXD
#
NET "UP1" 	LOC = "P72" |IOSTANDARD = "LVTTL" |PULLDOWN; # 
NET "UP2" 	LOC = "P71" |IOSTANDARD = "LVTTL" |PULLDOWN; # 
NET "UP3" 	LOC = "P62" |IOSTANDARD = "LVTTL" |PULLDOWN; # 
NET "UP4" 	LOC = "P41" |IOSTANDARD = "LVTTL" |PULLDOWN; # 
NET "DOWN1" LOC = "P37" |IOSTANDARD = "LVTTL"; # 
NET "DOWN2" LOC = "P43" |IOSTANDARD = "LVTTL"; # 
NET "DOWN3" LOC = "P44" |IOSTANDARD = "LVTTL"; # 
NET "DOWN4" LOC = "P45" |IOSTANDARD = "LVTTL"; # 

################################
# USB_C SIGNALS TO FT4234 DEVICE
################################
#NET "USB_C<0>"  LOC = "P28"  | IOSTANDARD = "LVTTL";    
#NET "USB_C<1>"  LOC = "P27"  | IOSTANDARD = "LVTTL";    
#NET "USB_C<2>"  LOC = "P25"  | IOSTANDARD = "LVTTL";    
#NET "USB_C<3>"  LOC = "P24"  | IOSTANDARD = "LVTTL";    
#NET "USB_C<4>"  LOC = "P21"  | IOSTANDARD = "LVTTL";    
#NET "USB_C<5>"  LOC = "P20"  | IOSTANDARD = "LVTTL";    
#NET "USB_C<6>"  LOC = "P19"  | IOSTANDARD = "LVTTL";    
#NET "USB_C<7>"  LOC = "P18"  | IOSTANDARD = "LVTTL";    
#NET "USB_C<8>"  LOC = "P16"  | IOSTANDARD = "LVTTL";    
#NET "USB_C<9>"  LOC = "P15"  | IOSTANDARD = "LVTTL";    
#NET "USB_C<10>" LOC = "P13"  | IOSTANDARD = "LVTTL";    
#NET "USB_C<11>" LOC = "P12"  | IOSTANDARD = "LVTTL";    
#NET "USB_C<12>" LOC = "P11"  | IOSTANDARD = "LVTTL";    
#NET "USB_C<13>" LOC = "P10"  | IOSTANDARD = "LVTTL";    
#NET "USB_C<14>" LOC = "P8"   | IOSTANDARD = "LVTTL";    
#NET "USB_C<15>" LOC = "P7"   | IOSTANDARD = "LVTTL";    
#NET "USB_C<16>" LOC = "P6"   | IOSTANDARD = "LVTTL";    
#NET "USB_C<17>" LOC = "P5"   | IOSTANDARD = "LVTTL";    
#NET "USB_C<18>" LOC = "P4"   | IOSTANDARD = "LVTTL";    
#NET "USB_C<19>" LOC = "P3"   | IOSTANDARD = "LVTTL";    
#NET "USB_C<20>" LOC = "P142" | IOSTANDARD = "LVTTL";    
#NET "USB_C<21>" LOC = "P141" | IOSTANDARD = "LVTTL";    
#NET "USB_C<22>" LOC = "P139" | IOSTANDARD = "LVTTL";    
#NET "USB_C<23>" LOC = "P138" | IOSTANDARD = "LVTTL";    
#NET "USB_C<24>" LOC = "P135" | IOSTANDARD = "LVTTL";    
#NET "USB_C<25>" LOC = "P134" | IOSTANDARD = "LVTTL";    
#NET "USB_C<26>" LOC = "P132" | IOSTANDARD = "LVTTL";    
#NET "USB_C<27>" LOC = "P131" | IOSTANDARD = "LVTTL";    
#NET "USB_C<28>" LOC = "P130" | IOSTANDARD = "LVTTL";    
#NET "USB_C<29>" LOC = "P129" | IOSTANDARD = "LVTTL";    
#NET "USB_C<30>" LOC = "P127" | IOSTANDARD = "LVTTL";    
#NET "USB_C<31>" LOC = "P126" | IOSTANDARD = "LVTTL";    
##############################             
# USB TO TOP LEFT LX150                 
##############################             
#NET "USB1_1"  LOC = "P83" | IOSTANDARD = "LVTTL";    
#NET "USB1_2"  LOC = "P87" | IOSTANDARD = "LVTTL";    
#NET "USB1_3"  LOC = "P84" | IOSTANDARD = "LVTTL";    
#NET "USB1_4"  LOC = "P88" | IOSTANDARD = "LVTTL";    
NET "USB1_5"  LOC = "P90" |IOSTANDARD = "LVTTL";    
NET "USB1_6"  LOC = "P85" |IOSTANDARD = "LVTTL";    
NET "USB1_7"  LOC = "P82" |IOSTANDARD = "LVTTL";    
#NET "USB1_8"  LOC = "P79" | IOSTANDARD = "LVTTL";    
##############################             
# USB TO TOP RIGHT LX150                 
##############################
#NET "USB2_1"  LOC = "P99"  | IOSTANDARD = "LVTTL";    
#NET "USB2_2"  LOC = "P101" | IOSTANDARD = "LVTTL";    
#NET "USB2_3"  LOC = "P105" | IOSTANDARD = "LVTTL";    
#NET "USB2_4"  LOC = "P103" | IOSTANDARD = "LVTTL";    
NET "USB2_5"  LOC = "P102" |IOSTANDARD = "LVTTL";    
NET "USB2_6"  LOC = "P98"  |IOSTANDARD = "LVTTL";    
NET "USB2_7"  LOC = "P96"  |IOSTANDARD = "LVTTL";    
NET "USB2_8"  LOC = "P92"  | IOSTANDARD = "LVCMOS33"  |  DRIVE = 12;    
##############################             
# USB TO LOWER LEFT LX150                 
##############################
#NET "USB3_1"  LOC = "P48"  | IOSTANDARD = "LVTTL";  
#NET "USB3_2"  LOC = "P50"  | IOSTANDARD = "LVTTL";  
#NET "USB3_3"  LOC = "P47"  | IOSTANDARD = "LVTTL";  
#NET "USB3_4"  LOC = "P51"  | IOSTANDARD = "LVTTL";  
NET "USB3_5"  LOC = "P54"  |IOSTANDARD = "LVTTL";  
NET "USB3_6"  LOC = "P49"  |IOSTANDARD = "LVTTL";  
NET "USB3_7"  LOC = "P42"  |IOSTANDARD = "LVTTL";  
#NET "USB3_8"  LOC = "P46"  | IOSTANDARD = "LVTTL";  
##############################             
# USB TO LOWER RIGHT LX150                 
##############################
#NET "USB4_1"  LOC = "P55" | IOSTANDARD = "LVTTL";    
#NET "USB4_2"  LOC = "P57" | IOSTANDARD = "LVTTL";    
#NET "USB4_3"  LOC = "P58" | IOSTANDARD = "LVTTL";    
#NET "USB4_4"  LOC = "P59" | IOSTANDARD = "LVTTL";    
NET "USB4_5"  LOC = "P70" |IOSTANDARD = "LVTTL";    
NET "USB4_6"  LOC = "P69" |IOSTANDARD = "LVTTL";    
NET "USB4_7"  LOC = "P68" |IOSTANDARD = "LVTTL";    
#NET "USB4_8"  LOC = "P60" | IOSTANDARD = "LVTTL";    
################################
# CLOCK SIGNALS TO LX150 DEVICES
################################
NET "CLOCKS1_1"  LOC = "P78" | IOSTANDARD = "LVCMOS33" | DRIVE = 8;     
NET "CLOCKS1_2"  LOC = "P76" | IOSTANDARD = "LVCMOS33" | DRIVE = 8;     
NET "CLOCKS2_1"  LOC = "P93" | IOSTANDARD = "LVCMOS33" | DRIVE = 8;     
NET "CLOCKS2_2"  LOC = "P91" | IOSTANDARD = "LVCMOS33" | DRIVE = 8;     
NET "CLOCKS3_1"  LOC = "P32" | IOSTANDARD = "LVCMOS33" | DRIVE = 12;     
NET "CLOCKS3_2"  LOC = "P31" | IOSTANDARD = "LVCMOS33" | DRIVE = 12;     
NET "CLOCKS4_1"  LOC = "P64" | IOSTANDARD = "LVCMOS33" | DRIVE = 12;     
NET "CLOCKS4_2"  LOC = "P63" | IOSTANDARD = "LVCMOS33" | DRIVE = 12;     
################################
# SIGNALS TO CLOCK GENERATOR
################################
NET "CLK100"  	LOC = "P121" |IOSTANDARD = "LVTTL"; # 100 MHz
NET "CLK150"  	LOC = "P120" |IOSTANDARD = "LVTTL"; # 150 MHz
NET "CLK50"  	LOC = "P110" |IOSTANDARD = "LVTTL"; # 50  MHz
NET "CLK200"   LOC = "P117" |IOSTANDARD = "LVTTL"; # 200 MHz
#NET "CLKBUS5"  LOC = "P116" | IOSTANDARD = "LVTTL";# 
#NET "CLKBUS6"  	LOC = "P115" | IOSTANDARD = "LVTTL"; # 150 MHz
#NET "CLKBUS7"  LOC = "P114" | IOSTANDARD = "LVTTL";     
#NET "CLKBUS8"  LOC = "P111" | IOSTANDARD = "LVTTL";     
NET "CLK_SDAT"  LOC = "P113" |IOSTANDARD = "LVTTL" |PULLUP;  # SDAT 
NET "CLK_SCLK" LOC = "P112" |IOSTANDARD = "LVTTL";    			# SCLK
#
################################
# DOWN CONNECTOR
################################
#NET "DOWN1" 		LOC = "P37" | IOSTANDARD = "LVTTL";
#NET "DOWN2" 	LOC = "P43" | IOSTANDARD = "LVTTL";
#NET "DOWN3" 	LOC = "P44" | IOSTANDARD = "LVTTL";
#NET "DOWN4" 	LOC = "P45" | IOSTANDARD = "LVTTL";
#
################################
# POWER REGULATOR ENABLE SIGNALS
################################
NET "EN_1V2_1"  LOC = "P75"  |IOSTANDARD = "LVTTL"; 
NET "EN_1V2_2"  LOC = "P104" |IOSTANDARD = "LVTTL"; 
NET "EN_1V2_3"  LOC = "P30"  |IOSTANDARD = "LVTTL"; 
NET "EN_1V2_4"  LOC = "P77"  |IOSTANDARD = "LVTTL"; 
NET "ARRAY_3V3_EN"  LOC = "P38"  |IOSTANDARD = "LVTTL";
#
################################
# FAN RPM SIGNALS
################################
NET "FAN_RPM1"  LOC = "P142"  |   IOSTANDARD = "LVTTL" | PULLUP;
NET "FAN_RPM2"  LOC = "P139"  |   IOSTANDARD = "LVTTL" | PULLUP;
NET "FAN_RPM3"  LOC = "P138"  |   IOSTANDARD = "LVTTL" | PULLUP;
NET "FAN_RPM4"  LOC = "P141"  |   IOSTANDARD = "LVTTL" | PULLUP;



#Created by Constraints Editor (xc3s50an-tqg144-4) - 2012/07/08
NET "CLK200" TNM_NET = CLK200;
TIMESPEC TS_CLK200 = PERIOD "CLK200" 200 MHz HIGH 50%;
NET "CLK50" TNM_NET = CLK50;
TIMESPEC TS_CLK50 = PERIOD "CLK50" 50 MHz HIGH 50%;
NET "CLK100" TNM_NET = CLK100;
TIMESPEC TS_CLK100 = PERIOD "CLK100" 100 MHz HIGH 50%;
NET "CLK150" TNM_NET = CLK150;
TIMESPEC TS_CLK150 = PERIOD "CLK150" 150 MHz HIGH 50%;
NET "SWITCH6" TNM_NET = SWITCH6;
TIMESPEC TS_SWITCH6 = PERIOD "SWITCH6" 200 ns HIGH 50%;
